:root{
    --color_fire:#E1580D;
    --color_normal:#A368DB;
    --color_fighting:#DB7768;
    --color_groud:#2E4053;
    --color_rock:#4F6EAF;
    --color_bug:#4FAF72;
    --color_ghost:#181C19;
    --color_steel:#66666F;
    --color_water:#2980B9;
    --color_grass:#2AB14B;
    --color_electric:#FFC300;
    --color_psychic:#4E3F98;
    --color_ice:#94C8F0;
    --color_dragon:#9867EE;
    --color_dark:#30204B;
    --color_fairy:#D05CC5;
    --color-fond:rgb(255 255 255);


}
.fire{
    color: var(--color_fire);
   }
   
   .water{
       color: var(--color_water);
   }
   
   .grass{
   
       color: var(--color_grass);
   }
   
   .bug{
       color: var(--color_bug);
   }
   
   .normal{
       color: var(--color_normal);
   }
   
   .fighting{
       color: var(--color_fighting);
   }
   
   .ground{
       color: var(--color_groud);
   }
   
   .rock{
       color: var(--color_rock);
   }
   
   .ghost{
       color: var(--color_ghost);
   }
   
   .steel{
       color: var(--color_steel);
   }
   
   .electric{
       color: var(--color_electric);
   }
   
   .psychic{
       color: var(--color_psychic);
   }
   
   .ice{
       color: var(--color_ice);
   }
   
   .dragon{
       color: var(--color_dragon);
   }
   
   .dark{
       color: var(--color_dark);
   }
   
   .fairy{
       color: var(--color_fairy);
   }


.podexname_section{
    position: relative;
    margin: 4em 0 0.8em 15em;
    width: 100%;
    max-width: 70%;
     
    
    font-size: 1rem;
    border-radius: 0.3em;
    /* border: 0.5em solid currentColor; */
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.9);

}

.pokedexname_img_title{
   background-color: currentColor;
   position: relative;
   aspect-ratio: 8.3;
   border: 0.2em solid var(--color-fond) ;
   
}

.img_podexname{
 width: 20%;
 position: absolute;
 transform: translate(50%);
 left: 30%;
 bottom: 0.2em;

}

.pokedex_num{
    position: relative;
    width: 100%;
    top: 1em;
    text-align: center;
    align-items: center;
}

.pokedex_h3{
    width: 3em;
    height: 1.8em;
    padding: auto;
    
    
    font-size: 1.2rem;
    left: 23em;
    display:inline-block;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    

}

.pokedexname_name{
    margin: 2em 0 0 1em;
   
    width: 90%;
    justify-content: center;
    display: inline-block;
    text-align: center;
    

}

.pokedex_name_title{
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    
}


.pokedex_name_title::after,.pokedex_name_title::before{
    content: '';
    position: absolute;
    width: 30vh;
    height: 0.1em;
    background-color: rgb(128 128 128 );
    bottom: 0.5em;
       

}
.pokedex_name_title::after{
    left: 170%;
    
}

.pokedex_name_title::before{
    left: -240%;
    width: 30vh;
}
.pokedexname_character{
    justify-content: center;
    display: inline-block;
    color: var(--color_groud);
    
    width: 100%;
    margin-top: 1em;
}

.pokedexname_characteristic{
    justify-content: center;
    display: inline-block;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 10em;
    
    

}
.li_character{
    
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
    font-weight: bold;
    text-transform:capitalize ;
    font-size: 0.8rem;

}

.pokedexname_w{
    font-size: 1rem;

}

.name_charact{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 20%;
    justify-content: center;
    /* margin: 1em 0 1em 10em;     */
    text-align: center;    
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--color_groud);

}

.pokedexname_abili_type{
    justify-content: center;
    display: flex;    
    
    
    font-size: 0.8rem;
    gap: 2em;
    
    text-transform: capitalize;
    color: black;
    
    
}

.pokedexname_type{
    
    display: flex;
    gap: 1em;
    align-items: center;
    text-align: center;
    
    }

.pokedexname_items{
    display: inline-block;
    background-color: #84ABFA;
    padding-top: 1em;   
    color: var(--color-fond);
    width: 10vh;
    height: 4em;
    
}
.pokedexname_items_ability{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 15vh;
    height: 4em;
    padding: 1em;
}

.pokedexname_ability{
    display: grid;
   grid-template-columns: repeat(3,1fr);

    /* display: flex; */
    gap: 0.5em;
}


.progress{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    position: relative;
    height: 8px;
}

.progress_bar{
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,118,9,1) 56%, rgba(0,212,255,1) 100%);
    border-radius: 1.5em;
    width: 40%;
}

.pokedexname_footer{
    margin: 2em 3em 3em 2em;
    padding-bottom: 3em;
    font-size: 0.7em;
    text-transform: capitalize;
    line-height: 1.6;
    
}


.pokedecname_span_base{
    position: relative;
    text-align: right;
    color: var(--color_groud);
    margin-bottom: -1em;
    
}
.stats{
    font-size: 1.2rem;
    color: var(--color_ghost);

}

.pokedexmane_sec_moves{
    position: relative;
    margin: 4em 0 0.8em 15em;
    width: 100%;
    max-width: 70%;
    font-size: 1rem;
   
    border-radius: 0.3em;
    /* border: 0.5em solid currentColor; */
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.9);

    
}

.title_move{
    position: relative;
    
    padding: 0 0 1em 1em;
    top: 0.5em;
    left: 1em;

    
}

.pokedexmane_moves{
    
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px,2fr));
   
    

}
.pokedexname_stats_moves{
    
    margin: 1em 1em 0.4em 2em;
    
    height: 3em;
    width: 8em;
    border-radius: 1.5em;
    display: block;
    background-color: silver;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.pokedexname_info_move{
    
    justify-content: center;
    margin-top: 5em;
}

@media(max-width:800px){


    .podexname_section{
     margin: 4em 0 0.8em 3em;
     
     
    
    }
    .img_podexname{
        width: 25%;
        bottom: -0.4em;
       
       
       }

       .pokedex_h3{

        font-size: 0.8rem;
        /* left: 13em; */
    
    }

    .pokedex_name_title{
        
        font-size: 1.2rem;
/*         
        margin: 0em 0 0 -2em; */
    }

    .li_character,.pokedexname_w{
        font-size: 0.7rem;
    }
    .pokedexname_characteristic{
        
        /* margin-top: 2em; */
        gap: 2em;
        /* margin-left: 5em; */
        /* margin: 1em 0 0 7em; */
        
    }
   
    
   

    .name_charact_p{
        font-size: 0.8rem;
    }
    .pokedexname_abili_type{
    
        
        font-size: 0.6rem;
        gap: 0.5em;
        margin: 0 0 0 1em;
        
    }

    .pokedexname_type{
        
        gap: 0.5em;   
        
    
    }

    .pokedexname_ability{
        display: flex;
        gap: 0.5em;
    }

    .pokedex_name_title::after,.pokedex_name_title::before{
        
        width: 80%;    
    }

    .pokedex_name_title::after{
        left: 5em;
    }
    
    .pokedex_name_title::before{
        left: -4.8em;
    }

    .pokedexname_items{
        
        padding-top: 1em;   
        
        width: 6em;
        height: 3em;
        
    }
    .pokedexname_items_ability{
        width: 6vh;
        font-size: 0.8em;
        /* height: 3em;
        padding: 1em; */
    }

    .pokedexmane_sec_moves{
        margin: 4em 0 0.8em 3em;
    }

    .pokedexmane_moves{
       
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
        
    
    }
    .pokedexname_stats_moves{
        font-size: 0.8rem;
        margin: 1em 1em 0.4em 1em;
        padding-bottom: 3em;
        height: 2em;
        width: 5em;
        
    
        
    }
    .pokedexname_info_move{
        
        justify-content: center;
        margin-top: 5em;
    }




}